.home {
  width: 90vw;
  height: 550px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 10px 20px black;
  font-family: 'Fredoka One', cursive;
  max-width: 650px;
}

.title {
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

button {
  outline: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.choices {
  font-size: 1.7rem;
  margin-right: 10px;
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.play {
  padding: 12px 35px 12px 35px;
  font-size: 30px;
  font-weight: 500;
  background-color: #ff617c;
  border: 3px solid black;
  border-radius: 4px;
}
